.banner {
    height: 446px;
    background-image: url(../../assets/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    border-radius: 10px;
}